@model CompanyAddressDTOout
@inject IUserService userService
@{
    var classIfMain = Model.IsPrimary ? "text-success" : "";
    bool isAdmin = userService.IsLoggedIn && userService.User.IsInRole(GlobalConstants.AdministratorRole); 
}
<li>
    <div>
        <p class="d-inline-block">
            <i class="fas fa-flag @classIfMain"></i> Country: &nbsp; <span class="font-weight-bold font-italic">@Model.TownCountryName &nbsp;</span>
        </p>

    </div>
    <p><i class="fas fa-city @classIfMain"></i> Town: &nbsp; <span class="font-weight-bold font-italic">@Model.TownName &nbsp;</span> </p>
</li>

@if (Model.WorkersCount > 0)
{
    <li>
        <p><i class="fas fa-users @classIfMain"></i> Workers: &nbsp; @Model.WorkersCount</p>
    </li>
}
else if (isAdmin)
{
    <form method="post" asp-controller="Companies" asp-action="DeleteAddress" class="mt-2">
        <input type="hidden" asp-for="@Model.Id" />
        <button type="submit" class="btn btn-link text-danger"><i class="fas fa-eraser"></i> Remove</button>
    </form>
}
<div class="sep-line"></div>