@model PositionDTOin
@{
    ViewData["Title"] = "Register new Job Occupation";
    var employees = ViewData["employeeOptions"] as ICollection<UserOptionDTOout>;
    var offices = ViewData["companyOffices"] as ICollection<CompanyOfficeOptionDTOout>;
    var jobs = ViewData["jobOptions"] as ICollection<JobOptionDTOout>;
    var currencies = ViewData["currencies"] as ICollection<Currency>;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <div class="col-md-9 justify-content-between ">
        <hr />
        <section>
            <form method="post" class="row justify-content-center">
                <div class="col-md-7 pr-3" style="min-width:400px">
                    <div class="d-flex justify-content-between">
                        <div class="form-group pr-3 col-6 px-0">
                            <label asp-for="@Model.StartDate"> Start Date:</label>
                            <input type="date" asp-for="@Model.StartDate" class="form-control" />
                            <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group pl-3 flex-grow-1">
                            <label asp-for="@Model.WeekHours">Weekly work hours:</label>
                            <input type="number" placeholder="positive number..." step="1" min="5" max="48" asp-for="@Model.WeekHours" class="form-control" />
                            <span asp-validation-for="@Model.WeekHours" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.MonthlySalary">Salary per month:</label>
                        <div class="d-flex">
                            <input type="number" placeholder="positive salary..." step="0.1" min="0" asp-for="@Model.MonthlySalary" class="form-control  mr-3 flex-grow-1" />
                            <select required asp-for="@Model.CurrencyId" class="form-control ml-3  flex-grow-1">
                                @foreach (var currency in currencies)
                                {
                                    var isFirst = currencies.First() == currency;
                                    <option value="@currency.Id" selected="@isFirst"> @currency.Name</option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="@Model.MonthlySalary" class="text-danger"></span>

                    </div>
                    <div class="d-flex">
                        <div class="form-group mr-3  flex-grow-1">
                            <label asp-for="@Model.UserId"><i class="fas fa-user"></i> User</label>
                            <select required asp-for="@Model.UserId" class="form-control">
                                <option value="null" disabled selected>Select employee!</option>
                                @foreach (var emp in employees)
                                {
                                    <option value="@emp.Id"> @emp.Username @(emp.FirstName[0]). @emp.LastName</option>

                                }
                            </select>
                            <span asp-validation-for="@Model.UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group ml-3  flex-grow-1">
                            <label asp-for="@Model.ManagerId"><i class="fas fa-user"></i> Manager</label>
                            <select required asp-for="@Model.ManagerId" class="form-control">
                                <option value="null" selected>No Manager!</option>
                                @foreach (var emp in employees)
                                {
                                    <option value="@emp.Id"> @emp.Username @(emp.FirstName[0]). @emp.LastName</option>

                                }
                            </select>
                            <span asp-validation-for="@Model.ManagerId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.JobId"> Job </label>
                        <select required asp-for="@Model.JobId" class="form-control">

                            @foreach (var job in jobs)
                            {
                                bool isFirst = jobs.First() == job;
                                <option value="@job.Id" selected="@isFirst"> @job.Title for atleast @((EducationGrade)job.MinimumEducation)</option>

                            }
                        </select>
                        <span asp-validation-for="@Model.JobId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.CompanyAddressId"> Company - Office </label>
                        <select required asp-for="@Model.CompanyAddressId" class="form-control">
                            @foreach (var company in offices)
                            {
                                foreach (var branch in company.CompanyAddresses)
                                {
                                    bool isFirstOfficeCompany = offices.First() == company && branch == company.CompanyAddresses.First();
                                    <option value="@branch.Id" selected="@isFirstOfficeCompany">@company.Name - @branch.TownName in @branch.TownCountryName</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="@Model.CompanyAddressId" class="text-danger"></span>
                    </div>


                </div>
                <div class="col-md-12 form-group row justify-content-center">
                    <button type="submit" class="btn btn-primary">Create Position</button>
                </div>
            </form>
        </section>
    </div>
</div>