@model CountryEDITout
@{
    var countries = ViewData["Countries"] as ICollection<CountryOptionDTOout>;
    ViewData["Title"] = "Edit Country";
}

<h1 class="text-center">@ViewData["Title"] @Model.Name</h1>
<div class="row justify-content-center">
    <div class="col-md-5" style="min-width: 30em">
        <section>
            <form method="post">
                <hr />
                <input type="hidden" asp-for="@Model.Id" />
                @*<input type="hidden" asp-for="@Model.Towns" />*@
                <div class="form-group row">
                    <label asp-for="@Model.Name" class="col-sm-3 col-form-label"></label>

                    <input asp-for="@Model.Name" class="form-control col-sm-9" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                @if (Model.Towns.Any())
                {
                    <h3 class="text-center">Towns</h3>
                    <hr />
                    for (int i = 0; i < Model.Towns.Count(); i++)
                    {
                        var town = @Model.Towns[i];
                        <input type="hidden" asp-for="@Model.Towns[i].Id" />
                        <input type="hidden" asp-for="@Model.Towns[i].Name" />
                        <input type="hidden" asp-for="@Model.Towns[i].IsDeletable" />
                        <input type="hidden" asp-for="@Model.Towns[i].CountryName" />
                        @*<input type="hidden" asp-for="@Model.Towns[i].Deleted"/>*@
                        @*<input type="hidden" asp-for="@Model.Towns[i].CountryId"/>*@
                        <div class="form-group row">
                            <label asp-for="@Model.Towns[i].CountryId" class="col-form-label col-sm-3"><i class="fas fa-city"></i> @town.Name </label>
                            <select asp-for="@Model.Towns[i].CountryId" class="form-control col-sm-5">
                                @foreach (var country in countries)
                                {
                                    <option value="@country.Id">
                                        @(country.Name == Model.Name ? "This country" : country.Name)
                                    </option>

                                }
                            </select>
                            @if (town.IsDeletable)
                            {
                                <div class="col-sm-4 d-flex">
                                    <div class="m-auto">
                                        <input type="checkbox" class="form-check-input" asp-for="@Model.Towns[i].Deleted" />
                                        <label asp-for="@Model.Towns[i].Deleted" class="text-danger form-check-label"><i class="fas fa-minus-circle"></i> &nbsp; Delete</label>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }

                @if (ViewData.ContainsKey("Error"))
                {
                    <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                        <strong>Error</strong> @ViewData["Error"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="form-group row justify-content-center">
                    <button type="submit" class="btn btn-success"><i class="fas fa-wrench"></i> Edit Country</button>
                </div>
            </form>
        </section>
    </div>
</div>